<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary">
        <ion-buttons slot="start">
          <ion-back-button default-href="/login"></ion-back-button>
        </ion-buttons>
      </ion-buttons>

      <ion-title>Lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item routerLink="/cards">
      <ion-label>Cards</ion-label>
    </ion-item>
    <ion-item routerLink="/badges">
      <ion-label >Badges</ion-label>
    </ion-item>
    <ion-item routerLink="/buttons">
      <ion-label>Buttons</ion-label>
    </ion-item>
    <ion-item routerLink="/alerts">
      <ion-label>Alerts</ion-label>
    </ion-item>
    <ion-item routerLink="/checkbox">
      <ion-label>Checkbox</ion-label>
    </ion-item>
    <ion-item routerLink="/chip">
      <ion-label>Chip</ion-label>
    </ion-item>
    <ion-item routerLink="/fabs">
      <ion-label>Fabs</ion-label>
    </ion-item>
    <ion-item routerLink="/grids">
      <ion-label>Grids</ion-label>
    </ion-item>
    <ion-item routerLink="/items">
      <ion-label>Items</ion-label>
    </ion-item>
    <ion-item routerLink="/loadings">
      <ion-label>Loadings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
